{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Exclusive</th>
                <th>Annee</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>
                    <div class="hover_img">
                        <div class="hover"><img src="https://image.noelshack.com/fichiers/2019/41/3/1570606514-camera.png"; height= "25" width= "28" ><span>
                        <img src="{{ produit.image }}"; height= "250" width= "250"></span>
                        </div>
                        <a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.nom }} # {{ produit.numero }}</a>
                    </div>
                </td>
                <td>{{ produit.exclusive ? 'Oui' : 'Non' }}</td>
                <td>{{ produit.annee }}</td>
                <td>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
